<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
</head>
<bo>
    <h1>
            Hello Socket!
    </h1>
    <script src="/jquery/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script> 
    //Create event men chiret client avec .connect
        var socket =io.connect('http://localhost:3000/');
        socket.on('messages', function(data){
            $('body').append('<p>' + data + '</p>');
        })
    </script>
</body>
</html>